.producto__carrito {
    width:auto;
    display:block;
    
    
    
    


}

button {
    width: fit-content;
}
.imagen {
    width:100px;
    row-gap: 20px;
}
p {
    font-family: 'Lexend Zetta', sans-serif; 
}




@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300;1,700&family=Lexend+Zetta:wght@900&display=swap');