.bot1, .bot2, .botConf {
    border-style: none;
    margin:20px;
    color: black;
    font-weight: bold;
    font-size:xx-large;
    background-color: #ffffff;
    

    
    
}

.bot1,.bot2, .botConf:hover {
    cursor: pointer; 
}
